<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script><%- include('Components/date.js') -%></script>
    <script><%- include('Components/quote.js') -%></script>
    <script><%- include('Components/weather.js') -%></script>
    <script><%- include('Components/news.js') -%></script>
</head>
<body>